.App {
  text-align: center;
  background-image: url('./xfiles.jpg');
  background-size: cover;
  color: white;
}

.App h1 {
  margin-top: 0;
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-bulle {
  height: 20vmin;
  position: absolute;
  left: -135px;
  top: 135px;
}

.dana-say{
  position: relative;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-api-button {
  border: 1px solid #66dbfd;
  border-radius: 20px;
  background-color: transparent;
  color: #66dbfd;
  width: 300px;
  height: 40px;
  font-size: 16px;
  transition: all ease 0.3s;
}

.App-api-button:hover {
  background-color: #66dbfd;
  color: white
}
